$primary-color: rgb(33, 222, 239);
$primary-color-darken: rgb(11, 173, 188);
$secondary-color: rgb(164, 164, 164);
$background-color: rgb(32, 32, 32);
$button-hover-color: rgba(0, 0, 0, 0.5);

$primary-font-color: #f1f1f1;
